// colors.scss
$gold: rgb(218, 170, 14);
$light-green: rgb(127, 236, 55);
$white: rgb(255, 255, 255);
$grey: rgb(212, 213, 216);
$green: rgb(170, 240, 113);
$blue: rgb(58, 107, 212);
$black: rgb(49, 49, 48);

