/* Variables */
@import 'colors';
@import 'nav';
@import 'mixins';

/* Nest Main */
main {
    width: 1350px;
    min-height: 535px;
    background-color: $light-grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    
    #intro-text {
      color: $dark-grey;
      span {
        font-family: 'Sacramento', cursive;
        font-size: 2em;
        // Add more styles here
      }
      h3 {
        font-family: Arial, Helvetica, Sans-Serif;
        // Add more styles here
      }
  }}
  

// Mixin or Extend for button
